<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Paulo Rocha</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"  rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/creative.css') }}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">PR</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" 
        data-toggle="collapse" data-target="#navbarResponsive" 
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>  -->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#articles">Articles</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2 class="text-uppercase">
              <strong>Paulo Rocha</strong>
            </h2>
            <!-- <hr> -->
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5 text-uppercase">Brazilian Computer Engineer for Data Science</p>
          </div>
        </div>
      </div>
    </header>


    <section id="about" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="img-fluid avatar col-lg-4 col-sm-4 col-4" src="{{ url_for('static', filename='img/avatar.png')}}" alt="avatar">
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-12 mx-auto text-center">
            <a href="https://www.github.com/pauloharocha" class="contact-icon">
              <i class="fab fa-github fa-2x mx-3 sr-icon-1"></i>
            </a>
            
            <a href="https://www.linkedin.com/in/rocha-paulo" class="contact-icon">
              <i class="fab fa-linkedin fa-2x mx-3 sr-icon-2"></i>
            </a>
            
            <a href="https://www.medium.com/@ph.alcantara.rocha" class="contact-icon">
              <i class="fab fa-medium fa-2x mx-3 sr-icon-3"></i>
            </a>
            <a href="mailto:ph.alcantara.rocha@gmail.com" class="contact-icon">
              <i class="fas fa-envelope fa-2x mx-3 sr-icon-4"></i>
            </a>
            <a href="{{url_for('static', filename='img/PauloRochaCV.pdf')}}" class="contact-icon">
              <i class="fas fa-user-circle fa-2x mx-3 sr-icon-5"></i>
            </a>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <p class="mb-4 text-muted sr-icon-5">
                I am a Computer Engineer graduated from the University of <a href="http://www3.uea.edu.br">Amazonas</a> and currently studying for a Master in Systems
                Engineering at the Universities of <a href="http://w2.portais.atrio.scire.net.br/upe-ppges/index.php/pt/avisos">Pernambuco</a> and 
                <a href="https://www.ucdavis.edu">California</a>. Gained experience with Data Analysis and Machine Learning working as a
                data scientist and researcher, and my current field of study is about unsupervised learning, especially in clustering
                methodologies. Also a python enthusiast and a teacher in progress ...
              </p>

            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">At Your Service</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Sturdy Templates</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Ready to Ship</h3>
              <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">Up to Date</h3>
              <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">Made with Love</h3>
              <p class="text-muted mb-0">You have to make your websites with love these days!</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <section class="bg-dark text-white" id="articles">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Articles</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="service-box mt-5 mx-auto mb-2">
              <p class="mb-0 text-muted font-weight-bold">
                A series of jupyter notebooks containing examples of
                Data Analysis and Machine Learning Techniques.
              </p>
              <i class="fab fa-python"></i>
            </div>
          </div>
        </div> 
      </div>

      <div class="container">
        <div class="row no-gutters text-center">
          <div class="dropdown col-lg-3 mx-auto mt-3">
            <button class="btn btn-light dropdown-toggle" 
            type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Categories
            </button>
            <div class="dropdown-menu" id='categories-drop' aria-labelledby="dropdownMenuButton">
  
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row no-gutters text-center">
          <div class="col-lg-3 mx-auto mt-5 mb-2 sr-img">
              <h3 id='categorie-state' class="font-weight-bold"></h3>     
          </div>
        </div>
      </div>
      <div class="container-fluid p-0">
        <div class="row no-gutters" id='articles-set'>
          <!-- {% for article in articles %}
            <div class="col-lg-4 col-sm-4 sr-img">
              <a class="portfolio-box" href="{{ url_for('articles', name=article['filename']) }}">
                <img class="img-fluid" src="{{ url_for('static', filename='img/articles/' + article['imagefilename']) }}" alt="{{article['name']}}">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                      {{article['categorie']}}
                    </div>
                    <div class="project-name">
                      {{article['name']}}
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %} -->
        </div>
      </div>
 
    </section>

    <!-- <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
      </div>
    </section> -->

    <!-- <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contact</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-12 mx-auto text-center">
            <a href="https://www.github.com/pauloharocha" class="contact-icon">
              <i class="fab fa-github fa-3x mx-3 sr-icon-1"></i>
            </a>
       
            <a href="https://www.linkedin.com/in/rocha-paulo" class="contact-icon">
              <i class="fab fa-linkedin fa-3x mx-3 sr-icon-2"></i>
            </a>
      
            <a href="https://www.medium.com/@ph.alcantara.rocha" class="contact-icon">
              <i class="fab fa-medium fa-3x mx-3 sr-icon-3"></i>
            </a>
            <a href="mailto:ph.alcantara.rocha@gmail.com" class="contact-icon">
              <i class="fas fa-envelope fa-3x mx-3 sr-icon-4"></i>
            </a>
          </div>
        </div>  
      </div>
    </section> -->

    <footer class="bg-light py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <a href="https://www.github.com/pauloharocha" class="contact-icon">
              <i class="fab fa-github fa-2x mx-2"></i>
            </a>
            
            <a href="https://www.linkedin.com/in/rocha-paulo" class="contact-icon">
              <i class="fab fa-linkedin fa-2x mx-2"></i>
            </a>
            
            <a href="https://www.medium.com/@ph.alcantara.rocha" class="contact-icon">
              <i class="fab fa-medium fa-2x mx-2"></i>
            </a>
            <a href="mailto:ph.alcantara.rocha@gmail.com" class="contact-icon">
              <i class="fas fa-envelope fa-2x mx-2"></i>
            </a>
            <div class="small text-center text-muted mt-2">Paulo Rocha</div>
          </div>
        </div>
       
      </div>
    </footer>

    {{ JSGlue.include() }}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/scrollreveal/scrollreveal.min.js') }}"></script>
    <!-- <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script> -->

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/creative.js') }}"></script>

  </body>

</html>
